.contact__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50px;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.contact_tittle {
    margin: 0 auto;
    margin-top: 25px;
}

.contact__options {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.contact__option {
    background: #2c2c6c;
    padding: 19px;
    text-align: center;
    border-radius: 19px;
    border: 1px solid transparent;
    transition: all 400ms ease;
    width: 33.3%;
}
.contact__option:hover {
    background: transparent;
    border-color: rgba(77, 181, 255, 0.4);
}
.contact__option-icon {
    font-size: 24px;
    margin-bottom: 8px;
}
.contact__option a {
    margin-top: 11px;
    display: inline-block;
    font-size: 12px;
}

.btn-primary {
    background:#4db5ff;
    width: max-content;
    display: inline-block;
    color: white;
    padding: 12px 19px;
    border-radius: 6.4px;
    cursor: pointer;
    border: 1px solid #4db5ff;
    transition: all 400ms ease;
}
.form_btn {
  margin: 0 auto;
}
.form_btn:hover {
    border-color: rgba(77, 181, 255, 0.4);
    background: transparent;
}
.btn-social {
    border: 1px solid #4db5ff;
    padding: 12px 19px;
    border-radius: 6.4px;
    color: white;
    text-decoration: none;
}



/*--------------------------------------------------*/
form {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

input, textarea {
    width: 75%;
    margin: 0 auto;
    padding: 24px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid rgba(77, 181, 255, 0.4);
    resize: none;
    color:#fff;
}

@media screen and (max-width: 425px) {
    .contact__container {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .contact__options {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
    }
    .contact__option {
        min-width: 200px;
        min-height: 200px;
    }

    .contact__container {
        margin-top: 25px;
        height: max-content;
        scroll-behavior: auto;
    }
}


