.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    height: 100%;
    margin: 0 auto;
    border-radius: 25px;
    padding: 0px 25px 0px 25px;
}
.home_paragraf {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_foto {
    margin-top: 25px;
    margin-left: 0px;
    /* border-radius: 75px 75px 0px 0px; */
    border-radius: 192px 192px 0 0;
    max-width: 350px;
    max-height: 465px;
}

.home_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    font-weight: 500;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
}
.btn_home_wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.about_linkBtn {
    text-decoration: none;
}


@media screen and (max-width: 1340px) {
    .home {
       display: flex;
       flex-direction: column;
       height: auto;
    }

}

@media screen and (max-width: 425px) {
   
    .home {
        display:flex;
        flex-direction: column;
        max-height: 800px;
        justify-content: space-between;
        align-items: center;
        margin-top: 550px;
     }
}


